= form_for(:user, :url => user_session_path) do |f|
  .field
    = f.label 'email'
    = f.text_field 'email'

  .field.password
    =link_to 'forgot password', '#'
    = f.label 'password'
    = f.password_field 'password'

  .submit
    %p
      Don't have an account?
      =link_to "sign up!", new_user_registration_path

    =submit_tag 'login'
