%a.results{ :href => '#' }
  = "#{@movies.size} results found"

.full_results
  - @movies.each do |movie|
    %ul
      %li
        = h movie.title
      %li
        = h movie.release.to_s(:long)
      %li
        = image_tag poster_url(movie, :thumb)

