#sidebar
  %header
    %span.title Invitations

  .sidebar_content.invitations
    - pending_invitations.each do |invitation|
      %p.more
        %a{ :href => night_path(invitation.night), :target => '_blank' }
          %span.label from:
          = invitation.host_name
          %br
          %span.label for:
          = "#{invitation.human_curtain_date}, #{invitation.human_curtain_time}"
          = image_tag "zoom_small.png", :alt => ''

#main_content
  - hosted_nights.each do |hosted|
    %h1.scheduled_night
      %a{ :href => night_path(hosted) }
        %span.movie
          = "#{movie_name(hosted)} at"
          %span.you
            = hosted.location_human_name
        = hosted.human_curtain_date
        %span.time 
          = hosted.human_curtain_time
  - accepted_invitations.each do |invitation|
    %h1.scheduled_night
      %a{ :href => night_path(invitation.night) }
        %span.movie 
          = "#{movie_name(invitation)} at"
          = invitation.location_human_name
        = invitation.human_curtain_date
        %span.time 
          = invitation.human_curtain_time

