<h1>Listing nights</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Curtain time</th>
    <th>Host</th>
    <th>Location</th>
  </tr>

<% @nights.each do |night| %>
  <tr>
    <td><%=h night.doors_open_date.try(:to_s, :date) %></td>
    <td><%=h night.curtain_time.try(:to_s, :time) %></td>
    <td><%=h night.host.login %></td>
    <td><%=h night.location.street %></td>
    <td><%= link_to 'Show', night %></td>
    <td><%= link_to 'Edit', edit_night_path(night) %></td>
    <td><%= link_to 'Destroy', night, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New night', new_night_path %>
