#sidebar
  .heading
    %span.title Invitations

  .sidebar_content.invitations
    - @pending_invitations.each do |invitation|
      %p.more
        %a{ :href => night_path(invitation.night), :rel => "external" }
          %span.label from:
          = h invitation.host_name
          %br
          %span.label for:
          = "#{invitation.human_curtain_date}, #{invitation.human_curtain_time}"
          = image_tag "zoom_small.png", :alt => ''

#main_content
  - @hosted_nights.each do |night|
    %h1.scheduled_night
      %a{ :href => night_path(night) }
        %span.movie
          Some Movie at
          %span.you
            = h night.location_human_name
        = night.human_curtain_date
        %span.time 
          = night.human_curtain_time
  - @accepted_invitations.each do |invitation|
    %h1.scheduled_night
      %a{ :href => night_path(invitation.night) }
        %span.movie 
          Some Movie at
          = h invitation.location_human_name
        = invitation.human_curtain_date
        %span.time 
          = invitation.human_curtain_time
          
