- content_for :head do
  = javascript_include_tag 'new_night'

= error_messages_for :night

- form_for @night do |form|
  %fieldset#when_fields
    %legend
      %span
        when?
    .field.date
      %label date
      = form.text_field :curtain_date, :rel => :date, :size => 10
    .field.time
      %label time
      = form.time_select :curtain_time, :minute_step => 15
    %br.clear
  %fieldset
    %legend
      %span
        where?
    .mozilla_is_rubbish
    .field.radio
      %label
        %input#use_saved_location{ :type => "radio", :name => "location_source", :rel => "#saved_locations", :checked => "checked" }
        use saved location
      \&nbsp; &nbsp;
      %label
        %input{ :type => "radio", :name => "location_source", :rel => "#new_location" }
        enter address
    %br
    #saved_locations.location_source
      = render :partial => "locations/location", :collection => current_user.locations
    #new_location.location_source{ :style => "display:none" }
      #location_errors
      - fields_for Location.new do |location|
        = hidden_field_tag "authenticity_token", form_authenticity_token
        .field
          = location.label :name, 'location name'
          = location.text_field :name
        .field
          = location.label :street, "street address"
          = location.text_field :street
        .field
          = location.label :city
          = location.text_field :city
        .field
          = location.label :state
          = location.text_field :state, :size => 3
        .submit
          = link_to "save location", '#', :id => "add_address"
      
  %fieldset
    %legend
      %span
        movie?
    .mozilla_is_rubbish
    .field.radio
      %label
        %input{ :type => "radio" }
        vote
      \&nbsp; &nbsp;
      %label
        %input{ :type => "radio" }
        i have a movie
    %br
    .field
      %label
        movie title
        %a{ :href => "#" }
          add another movie
    .half
      - 3.times do
        .field.movie
          %input{ :type => "text" }
          %a{ :href => "#", :class => 'remove' }
            remove
          %a{ :href => title_search_nights_path, :class => 'search', :onclick => "return false" }
            search
          %span.results

  %fieldset#additional_info
    #drinks_and_snacks.half
      .field.radio.beer
        %label{ :for => 'night_bring_drinks' }
          = form.check_box :bring_drinks
          %span should guests bring drinks?
      .field.radio.snacks
        %label{ :for => 'night_bring_snacks' }
          = form.check_box :bring_snacks
          %span should guests bring snackage?
    .half.right
      .field
        %label
          notes
        = form.text_area :notes
  .submit
    %input{ :type => "submit", :value => "schedule movie night" }
