- content_for :head do
  = javascript_include_tag 'new_night'

= error_messages_for :night

= form_for @night do |form|
  %fieldset#when_fields
    %legend
      %span
        when?
    .field.date
      %label date
      = form.text_field :curtain_date, :rel => :date, :size => 10
    .field.time
      %label time
      = form.time_select :curtain_time, :minute_step => 15
    %br.clear
  %fieldset
    %legend
      %span
        where?
    .mozilla_is_rubbish
    #edit_location.location_source
    #saved_locations.location_source
      #saved_location_list
        = render :partial => "locations/location", :collection => current_user.locations
      #saved_location_details
      = link_to "add a new location", '#', :id => 'add_new_location'
    #new_location.location_source
      = render :partial => "locations/new"
  %fieldset{:style => 'clear: both;'}
    %legend
      %span
        movie?
    .mozilla_is_rubbish
    .field.radio#vote_or_dictate
      %label
        %input{ :type => "radio", :name => 'vote', :value => 'yes'}
        let everyone vote
      \&nbsp; &nbsp;
      %label
        %input{ :type => "radio", :name => 'vote', :value => 'no'}
        i have a movie picked out
    .field#movie_header{:style => 'display: none'}
      %label
        movie title
        %a{ :href => "#", :id => 'add_movie' }
          add another movie
    .half#dictate_movie{:style => 'display: none'}
      .field.movie
        %input{ :type => "text" }
        %a{ :href => title_search_nights_path, :class => 'search', :onclick => "return false" }
          search
        %span.results
      %a#nah_lets_vote{:href => '#'}
        you know what, let's vote instead
    .half#voting_options{:style => 'display: none'}
      .field.movie{:style => 'display: none;'}
        %input{ :type => "text" }
        %a{ :href => "#", :class => 'remove' }
          remove
        %a{ :href => title_search_nights_path, :class => 'search', :onclick => "return false" }
          search
        %span.results
      .field.movie
        %input{ :type => "text" }
        %a{ :href => "#", :class => 'remove' }
          remove
        %a{ :href => title_search_nights_path, :class => 'search', :onclick => "return false" }
          search
        %span.results
      %a#im_gonna_dictate{:href => '#'}
        actually, i know what i want to see

  %fieldset#additional_info
    #drinks_and_snacks.half
      .field.radio.beer
        %label{ :for => 'night_bring_drinks' }
          = form.check_box :bring_drinks
          %span should guests bring drinks?
      .field.radio.snacks
        %label{ :for => 'night_bring_snacks' }
          = form.check_box :bring_snacks
          %span should guests bring snackage?
    .half.right
      .field
        %label
          notes
        = form.text_area :notes
  .submit
    %input{ :type => "submit", :value => "schedule movie night" }
