- if @invitee
  = form_tag complete_rsvp_night_path(@night), :method => :put do
    = hidden_field_tag :access_hash, params[:access_hash]
    %p
      %label Attending?
      %label
        = radio_button_tag :attending, true
        Yes
      %label
        = radio_button_tag :attending, false
        No
    = submit_tag 'RSVP'
- else
  Whooops! Looks like your invitation got lost in the mail! Better luck next time, chump.
