- content_for :head do
  = javascript_include_tag 'night'

#sidebar
  /
    HEADING when user needs to rsvp
  - if invitation
    = form_tag night_invitation_path(night, invitation), :method => :put, :id => "rsvp_yes" do
      = hidden_field_tag :attending, true
    = form_tag night_invitation_path(night, invitation), :method => :put, :id => "rsvp_no" do
      = hidden_field_tag :attending, false
    %header.can_you_make_it
      %span.title
        Can you make it?
      %a.rsvp.yes{ :href => "#", :onclick => "$('#rsvp_yes').submit();" }
        yes
      %a.rsvp.no{ :href => "#", :onclick => "$('#rsvp_no').submit();" }
        no
  /
    HEADING  when user has rsvp-ed YES
    <header class="see_you_there">
    <span class="title">See you there!</span>
    <a href="#" class="rsvp yes">yes</a>
    <a href="#" class="rsvp no">no</a>
    </header>
  /
    HEADING  when user has rsvp-ed NO
    <header class="maybe_next_time">
    <span class="title">Maybe next time :(</span>
    <a href="#" class="rsvp yes">yes</a>
    <a href="#" class="rsvp no">no</a>
    </header>
  .sidebar_content
    - if night.hosted_by? current_user
      %p.more
        = link_to "Invite people", new_night_invitation_path(night)
    %p.more
      %a{ :href => "http://maps.google.com?q=#{CGI.escape(night.location.to_s)}", :rel => "external" }
        = night.location.user.name + "'s"
        = night.location.name
        %img{ :src => "/images/zoom_small.png", :alt => "" }
    - if night.bring_drinks
      %p.drinks_and_snacks.beer
        Bring drinks!
    - if night.bring_snacks
      %p.drinks_and_snacks.snacks
        Bring snackage!
    %br
    - unless night.notes.blank?
      %h1
        Notes
      %p= night.notes
      %br
    - attending = night.invitations.are_attending
    - if attending.any?
      %h1
        = pluralize attending.count, "person"
        attending in addition to host
      %ul
        - attending.each do |invitation|
          %li
            = invitee_name_or_email(invitation)
    - awaiting = night.invitations.awaiting_reply
    - if awaiting.any?
      %h1
        = pluralize awaiting.count, "person"
        awaiting reply
      %ul
        - awaiting.each do |invitation|
          %li
            = invitee_name_or_email(invitation)
    - not_attending = night.invitations.not_attending
    - if not_attending.any?
      %h1
        = pluralize not_attending.count, "person"
        can't make it
      %ul
        - not_attending.each do |invitation|
          %li
            = invitee_name_or_email(invitation)
  /
    \/.sidebar_content
/
  \/#sidebar
#main_content
  %h1
    %span.movie{:class => voting_state_class(night)}
      %span= "#{movie_name(night)}"
      at
      %span{ :class => current_user_is_host ? "you" : "" }
        = night.location_human_name
    = night.human_curtain_date
    %span.time
      = night.human_curtain_time
  %p#time_info
    -# Doors open at 8:00pm &ndash; Movie start at 8:30pm

  - if show_voteable_movies?(night)
    #voting
      %h2
        Vote:
      - night.voteable_movies.each do |movie|
        .movie
          %h3
            = movie.title
            - if night.hosted_by? current_user
              %a.choose_this_movie{:href => night_path(night), 'data-movie-id' => movie.movie_id} Pick this one!
          %img.movie_image{ :src => "#{movie.poster_url}", :alt => "#{movie.title}" }
          %p.more_info
            %a{ :href => "http://www.amazon.com/s?index=blended&field-keywords=#{CGI.escape(movie.title)}", :target => '_blank' }
              search amazon.com
            - if movie.tmdb_id
              %a{ :href => "http://www.themoviedb.org/movie/#{movie.tmdb_id}", :target => '_blank' }
                movie database
            - if movie.imdb_id
              %a{ :href => "http://www.imdb.com/title/#{movie.imdb_id}/", :target => '_blank' }
                imdb
          %a.vote_for_me{ :href => voteable_movie_votes_path(movie), :class => cast_vote_class(movie) }
            vote
          %span.vote_count= "+#{movie.votes.size}"
