<p>
  <b>When:</b>
  <%=h @night.doors_open_date.try(:to_s, :date) %>
</p>

<p>
  <b>Where:</b>
  <%=h @night.location.name%>: 
  <%=h @night.location.street%>
</p>

<p>
  <b>Host:</b>
  <%=h @night.host.login %>
</p>


<%= link_to 'Invite people', add_invitations_night_path(@night) %> |
<%= link_to 'Edit', edit_night_path(@night) %> |
<%= link_to 'Back', nights_path %>
