#sidebar
  /
    HEADING when user needs to rsvp
  - if @invitee
    - form_tag complete_rsvp_night_path(@night), :method => :put, :id => "rsvp_yes" do
      = hidden_field_tag :access_hash, params[:access_hash] || @invitee.access_hash
      = hidden_field_tag :attending, true
    - form_tag complete_rsvp_night_path(@night), :method => :put, :id => "rsvp_no" do
      = hidden_field_tag :access_hash, params[:access_hash] || @invitee.access_hash
      = hidden_field_tag :attending, false
    .heading.can_you_make_it
      %span.title
        Can you make it?
      %a.rsvp.yes{ :href => "#", :onclick => "$('#rsvp_yes').submit();" }
        yes
      %a.rsvp.no{ :href => "#", :onclick => "$('#rsvp_no').submit();" }
        no
  /
    HEADING  when user has rsvp-ed YES
    <div class="heading see_you_there">
    <span class="title">See you there!</span>
    <a href="#" class="rsvp yes">yes</a>
    <a href="#" class="rsvp no">no</a>
    </div>
  /
    HEADING  when user has rsvp-ed NO
    <div class="heading maybe_next_time">
    <span class="title">Maybe next time :(</span>
    <a href="#" class="rsvp yes">yes</a>
    <a href="#" class="rsvp no">no</a>
    </div>
  .sidebar_content
    - if logged_in? and current_user == @night.host
      %p.more
        = link_to "Invite people", add_invitations_night_path(@night)
    %p.more
      %a{ :href => "http://maps.google.com?q=#{CGI.escape(@night.location.to_s)}", :rel => "external" }
        = @night.location.user.name + "'s"
        = @night.location.name
        %img{ :src => "/images/zoom_small.png", :alt => "" }
    - if @night.bring_drinks
      %p.drinks_and_snacks.beer
        Bring drinks!
    - if @night.bring_snacks
      %p.drinks_and_snacks.snacks
        Bring snackage!
    %br
    - unless @night.notes.blank?
      %h1
        Notes
      %p= @night.notes
      %br
    %h1
      - attending = @night.invitees.are_attending
      = pluralize attending.count, "person"
      attending in addition to host
    %ul
      - attending.each do |inv|
        %li
          = inv.invited_user || inv.email
  /
    \/.sidebar_content
/
  \/#sidebar
#main_content
  %h1
    /
      class="movie.undecided" when still voting
    %span.movie
      = "#{h @night.movie_title || "NO SELECTION"} at"
      %span{ :class => current_user_is_host ? "you" : "" }
        = @night.location_human_name
    = @night.human_curtain_date
    %span.time
      = @night.human_curtain_time
  %p#time_info
    -# Doors open at 8:00pm &ndash; Movie start at 8:30pm

  - unless @night.voteable_movies.empty?
    #voting
      %h2
        Vote:
      - @night.voteable_movies.each do |movie|
        .movie
          %h3
            = h movie.title
          %img.movie_image{ :src => "#{poster_url(movie)}", :alt => "#{movie.title}" }
          %p.more_info
            %a{ :href => "http://www.amazon.com/s?index=blended&field-keywords=#{CGI.escape(movie.title)}", :rel => "external" }
              search amazon.com
            - if movie.tmdb_id
              %a{ :href => "http://www.themoviedb.org/movie/#{movie.tmdb_id}", :rel => "external" }
                movie database
            - if movie.imdb_id
              %a{ :href => "http://www.imdb.com/title/#{movie.imdb_id}/", :rel => "external" }
                imdb
          %a.vote_for_me.i_choose_you_pikachu{ :href => "#" }
            vote
          %span.vote_count= "+#{movie.votes.size}"
