.field
  = f.label :name
  = f.text_field :name

.field
  = f.label :email
  = f.text_field :email
  
- if current_password_required
  .field
    = f.label :current_password
    = f.password_field :current_password

.field
  = f.label :password, 'Password'
  = f.password_field :password

.field
  = f.label :password_confirmation, 'Confirm Password'
  = f.password_field :password_confirmation

