#sidebar
  .heading
    %span.title Invitations

  .sidebar_content.invitations
    - @pending_invitations.each do |invitation|
      %p.more
        %a{ :href => night_path(invitation.night), :rel => "external" }
          %span.label from:
          = h invitation.host_name
          &nbsp;
          %span.label for:
          = "#{invitation.human_curtain_date}, #{invitation.human_curtain_time}"
          = image_tag "zoom_small.png", :alt => ''

#main_content
  - @accepted_invitations.each do |invitation|
    %h1.scheduled_night
      %a{ :href => '#' }
        %span.movie 
          Some Movie at
          = h invitation.location_name
        = invitation.human_curtain_date
        %span.time 
          = invitation.human_curtain_time
          
