.field.radio.saved_location
  %label
    %input{ :type => "radio", :name => "night[location_id]", :value => location.id, :class => should_check?(location) }
    = location.name
  .location_details{:style => 'display: none;'}
    %span#name= "#{location.name} Details:"
    %br
    = location.street
    %br
    = "#{location.city}, #{location.state}"
    %br
    = link_to "edit",   edit_location_path(location), :class => 'edit location'
    = link_to "delete", location_path(location),      :class => 'delete location'
