!!! 5
%html
  %head
    %title Movie Night
    = stylesheet_link_tag 'reset', 'screen'
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    = stylesheet_link_tag 'jquery-ui/dot-luv/jquery-ui-1.7.2.custom.css', 'facebox'
    = javascript_include_tag 'jquery', 'jquery-ui', 'jquery.tmpl'
    = javascript_include_tag 'application', 'facebox'
    = javascript_include_tag 'http://use.typekit.com/qnh6yap.js'
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tag
    = yield :head

  %body{ :class => body_classes }
    #container
      = render 'shared/header'
      = flash_div :success, :error, :notice
      = yield
      .clear
      = render 'shared/footer'
